<!DOCTYPE html>
<html>
  <head>
<title>Quick Travel</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{% load static %}
{% static "images" as baseUrl %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- <link rel="manifest" href="site.webmanifest"> -->
<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.png' %} ">
<!-- Place favicon.ico in the root directory -->

<link rel="stylesheet" href="{% static 'css/style.css' %}">
<!-- <link rel="stylesheet" href="css/responsive.css"> -->
 <link href="https://fonts.googleapis.com/css?family=Gotu&display=swap&subset=devanagari" rel="stylesheet">

<link rel="stylesheet" href="{% static 'css/about.css' %}">
</head>
<body>
          <div class="container" style="background-image: url('{% static 'img/about.jpg'%}')">
              <div class="inner">
                  <div class="text" class="text-body">
                      
                          <h2>" QUICK TRAVEL " </h2><br><br>       
                          <p> Most of the people in this world like to travel from one place to another no matter whether it is a small or large distance. 
                              Tourism is important in many ways- it can be for leisure, business, education, culture and for fun; it is very happiest part of the life. 
                              Tourism industry is a fast-developing sector for the economy worldwide. 
                              Tourism has become a popular global leisure activity.</p>
  
                      <p>So here the question arises "How does it work?" and "What interesting  functions it has??"</p>
                      
                      <p> Well!! In this fast moving world the users look for more attractive themes and interesting functions so there are two amazing themes in this page<br> i.e dark and 
                          lite mode which brings bold look to our page as well as to the music...<br>
                          And the interesting function in this is we can play the music with a single click <br>isn't it amazing that all major functions
                          ( play, pause and stop) just done with a single click.
                      </p> 
                      
                      <p>
                          E A Bucchianeri quotes "Ah the magic of music, with it, all things are possible"...<br>
                          Indeed music is the strongest form of magic and easiest way to 
                          express one's emotion...<br> With a hope to create some magic we have built a small website 
                          which helps in playing music.<br> Hope you all enjoy listening to music as we do. 
                          Happy listening and keep dancing to the lyrics!!
                      </p>
                      <div class="button"> 
                          <center><a class="btn btn-dark btn-outline-info btn-lg" href="/" role="button">HOME</a></center>
                      </div>
                  </div> 
              </div>
          </div>
      </body>
  </html>